{% extends "base.html.twig" %}

{% block contenu %}
    <div class="container">
  <div class="row row-cols-1 row-cols-md-3 pt-2" >
      <div class="col-sm-6">
        <div class="card bg-dark">
          <img src="/images/equilibre.jpg" class="card-img-top image" alt="tomate">
          <div class="card-body text-white">
            <h5 class="card-title">Equilibre</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-1">
        <div class="card bg-dark">
          <img src="/images/regime.jpg"  class="card-img-top" alt="food">
          <div class="card-body text-white">
            <h5 class="card-title">Perte de poids</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-dark">
          <img src="/images/sport.jpg"  class="card-img-top" alt="sport">
          <div class="card-body text-white">
            <h5 class="card-title">Alimentation et Sport</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.  This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card bg-dark">
            <img src="/images/loulou.jpg"  class="card-img-top" alt="pain de mie">
            <div class="card-body text-white">
              <h5 class="card-title">Pour les Loulous</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-dark">
          <img src="/images/recette.jpg"  class="card-img-top" alt="recette">
          <div class="card-body text-white">
            <h5 class="card-title">
              <a href="/recettes"> Recettes</a>
             </h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card bg-dark ">
            <img src="/images/calcul.jpg" class="card-img-top" alt="livre">
            <div class="card-body text-white">
              <h5 class="card-title">Calculs</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
      </div>
  </div>
{% endblock %}

